<%= form_tag search_issues_path, :method => :get do %>
  <%= text_field_tag "keyword" %>
  <%= submit_tag "Search" %>
<% end %>

<%= link_to 'Sort by Name', issues_path( :order => "topic") %>
<%= link_to 'Sort by Updated', issues_path( :order => "updated_at") %>

<table border = "1">
  <% @issues.each do |issue| %>
  <tr>
    <td><%= issue.topic %></td>
    <td><%= link_to 'Read', issue_path(issue) %></td>
    <!-- <td><%= link_to 'Reply', issue_replies_path(issue) %></td> -->
    <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
    <td><%= link_to 'Delete', issue_path(issue), :method => :delete %></td>
    <td><%= issue.replies.size %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'New issue', new_issue_path %>
<%= paginate @issues %>