<% if current_user %>
  <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
  <%= link_to('修改密碼', edit_registration_path(:user)) %>
<% else %>
  <%= link_to('註冊', new_registration_path(:user)) %> |
  <%= link_to('登入', new_session_path(:user)) %>
<% end %>

<%= form_tag search_issues_path, :method => :get do %>
  <%= text_field_tag "keyword" %>
  <%= submit_tag "Search" %>
<% end %>

<%= link_to 'Sort by Name', issues_path( combine_issues_condition(params,  :order => "topic" ) ) %>
<%= link_to 'Sort by Updated', issues_path( combine_issues_condition(params,  :order => "updated_at" ) ) %>
<%= link_to 'Sort by Updated DESC', issues_path( combine_issues_condition(params,  :order => "updated_at_desc" ) ) %>
<table border = "1">
  <% @issues.each do |issue| %>
  <tr>
    <td><%= issue.topic %></td>
    <td>
      <% issue.categories.each do |c| %>
        <%= link_to c.name, issues_path( combine_issues_condition(params,  :c => c.id ) ) %>
      <% end %>
    </td>
    <td><%= link_to 'Read', issue_path(issue) %></td>

    <% if current_user == issue.user %>
      <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
      <td><%= link_to 'Delete', issue_path(issue), :method => :delete %></td>
    <% end %>
    <td><%= issue.replies_count %></td>
    <td><%= issue.view_count %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'New issue', new_issue_path %>
<%= paginate @issues %>