<%= form_for @reply, :url => issue_replies_path(@issue) do |f| %>
   <%= f.text_field :content %>
   <%= f.submit %>
<% end %>

<p><%= link_to 'Back to issue', issue_path(@issue) %></p>
<p><%= link_to 'Back to index', issues_path %></p>